


/* Paths */
$pathImages:'../images/';

/* Colors */
$colorBackgroundSectionTwo:#eff9ff;
$colorBackgroundFooter:#304268;
$colorButtonHome: #0271bc;
$colorButtomGo:#f26002;
$colorLight: #fff;
$colorHover: #8ccbea;


/* Fonts */

$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-x-large: 20px;
$font-size-xx-large: 24px;
$font-size-xx-mediumlarge: 26px;
$font-size-xxx-mediumlarge: 32px;
$font-size-xxx-large: 42px;
$font-size-xxxx-large: 80px;
$font-size-xxxxx-large: 100px;


$fontFamilyTitle: 'RobotoSlab';
$fontFamilyText: 'Roboto';

$fontWeightTitle: 700;
$fontWeightText: 400;
$fontWeightButton: 500;


$colorText: #000;
$colorTitle: #fff;
$colorSectionOne: #4a4a4a;
$colorRectangle: #8ccbea;

$capitalize: capitalize;
