.footer {
  background-color: $colorBackgroundFooter;
  padding: 0px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pFooter {
  color: $colorLight;
  font-size: $font-size-small;
  text-align: center;
}


.copyright {
  width: 77px;
  height: 30px;
  line-height: 30px;
  @media all and (min-width:768px) {
    width: 185px;
  }
}

.love {
  width: 290px;
  height: 30px;
  line-height: 30px;
  @media all and (min-width:768px) {
    width: 696px;
  }
}

.hearth {
  color: $colorButtomGo;
  line-height: 30px;
}
