.sectionOne{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding: 30px 15px 45px 15px;
 background-color: $colorLight;
 @media all and (min-width:1280px) {
    justify-content: center;
 }
}

.rectangle{
  margin-bottom: 1px;
  width: 90px;
  height: 30px;
  line-height: 2.14;
  color: $colorRectangle;
  font-size: $font-size-small;
}

.titleSectionOne{
  width: 290px;
  line-height: 1.25;
  margin-bottom: 15px;
}
.pSectionOne{
  margin-bottom: 30px;
  line-height: 1.67;
  color: $colorSectionOne;
}

.sectionTwo {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 30px 1fr 1fr 1fr 45px;;
  padding: 30px 0px 60px 0px;
  background-color: $colorBackgroundSectionTwo;
  justify-items: center;

  @media all and (min-width:768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.sectionTwoTitle{
  width: 290px;
  text-align: center;
  line-height: 1.25;
  @media all and (min-width:768px) {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  justify-items: center;
  }
}

.sectionTwoText {
  width: 184px;
  text-align: center;
  padding-top: 45px;
  }

  .box1 {
  @media all and (min-width:768px) {
  grid-column: 1/2;
  grid-row: 2/3;
  }
}

.box2 {
@media all and (min-width:768px) {
grid-column: 2/3;
grid-row: 2/3;
}
}
.box3 {
@media all and (min-width:768px) {
grid-column: 3/4;
grid-row: 2/3;
}
}


.sectionTwoButton{
  @media all and (min-width:768px) {
  grid-column: span 3;
  grid-row: 3/4;
  }
}

.pTitle {
  width:184px;
  height: 30px;
  font-weight: $fontWeightTitle;
  font-size: $font-size-large;
  font-family: $fontFamilyTitle;
  line-height: 1.67;
  text-align: center;
  @media all and (min-width:768px) {
  font-size: $font-size-xx-mediumlarge;
  }
}

.pSectionTwo {
  width: 180px;
  margin: 0;
  padding: 0px 2px;
  line-height: 1.67;

}
