.buttonHome{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: $colorButtonHome;
}

.button{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorLight;
}

.buttonGo{
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid $colorButtomGo;
  color: $colorButtomGo;
  background-color: $colorLight;
  font-size: $font-size-x-large;
  line-height: 45px;
  font-family: $fontFamilyText;
  font-weight: $fontWeightButton;
  transition: background-color ease 2s;
  &:hover {
     background-color: $colorButtomGo;
     color: $colorLight;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
 }
  @media all and (min-width:768px) {
  width: 91px;
  }
}

.moreReasonsButton {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorButtomGo;
  color: $colorLight;
  font-size: $font-size-x-large;
  line-height: 2.25;
  font-family: $fontFamilyText;
  font-weight: $fontWeightButton;
  transition: background-color ease 2s;
  &:hover {
     background-color: $colorLight;
     color: $colorButtomGo;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
 }
  @media all and (min-width:768px) {
  width: 210px;
  }
}
 .withShadow {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   transform: translatey(-50%);
   z-index: 5;
   animation-name: intro;
   animation-iteration-count: infinite;
   animation-timing-function: ease;

 @keyframes intro {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
}
