.buttonHome{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: $colorButtonHome;
}

.button{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
}
