h1{
  font-family: $fontFamilyTitle;
  font-size: $font-size-xxx-large;
  color: $colorTitle;
  line-height: 55px;
}

h2{
  font-family: $fontFamilyTitle;
  font-weight: $fontWeightTitle;
  font-size: $font-size-xx-large;
  color: $colorText;
  line-height: 1.25;
  text-transform: $capitalize;
}

p {
  font-family: $fontFamilyText;
  font-weight: $fontWeightText;
  font-size: $font-size-regular;
  color: $colorText;
}
