/* Colors *//* Fonts */*,body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 15px 45px 15px;
  background-color: #fff;
}

.rectangle {
  margin-bottom: 1px;
  width: 90px;
  height: 30px;
  line-height: 2.14;
  color: #8ccbea;
  font-size: 14px;
}

.titleSectionOne {
  width: 290px;
  height: 60px;
  line-height: 1.25;
  margin-bottom: 15px;
}

.pSectionOne {
  margin-bottom: 30px;
  line-height: 1.67;
  color: #4a4a4a;
}

.sectionTwo {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 30px 1fr 1fr 1fr 45px;
  padding: 30px 0px 60px 0px;
  background-color: #eff9ff;
  justify-items: center;
}

.sectionTwoTitle {
  text-align: center;
}

.titleSectionTwo {
  line-height: 30px;
}

.sectionTwoText {
  text-align: center;
  padding-top: 45px;
}

.pTitle {
  width: 184px;
  font-weight: 700;
  font-size: 18px;
  font-family: "RobotoSlab";
  line-height: 1.67;
  text-align: center;
}

.pSectionTwo {
  width: 180px;
  margin: 0;
  padding: 0px 2px;
  line-height: 1.67;
}

.footer {
  background-color: #304268;
  padding: 0px 15px 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pFooter {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.copyright {
  width: 77px;
  height: 30px;
  line-height: 30px;
}

.love {
  width: 290px;
  height: 30px;
  line-height: 30px;
}

.hearth {
  color: #f26002;
  line-height: 30px;
}

.buttonHome {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: #0271bc;
}

.button {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #fff;
}

.buttonGo {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f26002;
  color: #f26002;
  background-color: #fff;
  font-size: 20px;
  line-height: 45px;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-transition: background-color ease 2s;
  transition: background-color ease 2s;
}

.buttonGo:hover {
  background-color: #f26002;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.moreReasonsButton {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  color: #fff;
  font-size: 20px;
  line-height: 2.25;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-transition: background-color ease 2s;
  transition: background-color ease 2s;
}

.moreReasonsButton:hover {
  background-color: #fff;
  color: #f26002;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.withShadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  z-index: 5;
  -webkit-animation-name: intro;
  animation-name: intro;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.textHero {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titulo {
  width: 290px;
  height: 110px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitulo {
  width: 290px;
  height: 21px;
  margin-bottom: 45px;
  color: #fff;
  font-size: 16px;
}

h1 {
  font-family: "RobotoSlab";
  font-size: 42px;
  color: #fff;
  line-height: 55px;
}

h2 {
  font-family: "RobotoSlab";
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 1.25;
  text-transform: capitalize;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

@media all and (min-width: 768px) {
  .sectionOne {
    padding: 30px 39px 60px 39px;
  }

  .rectangle {
    width: 216px;
  }

  .titleSectionOne {
    width: 690px;
    height: 45px;
    line-height: 1.73;
    margin-bottom: 30px;
  }

  .pSectionOne {
    font-size: 18px;
    line-height: 30px;
  }

  .sectionTwo {
    padding: 30px 40px 60px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45px 1fr 45px;
  }

  .sectionTwoTitle {
    line-height: 45px;
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    justify-items: center;
  }

  .titleSectionTwo {
    line-height: 45px;
  }

  .sectionTwoText {
    margin-bottom: 60px;
  }

  .box1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .box2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .box3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .sectionTwoButton {
    grid-column: span 3;
    grid-row: 3/4;
  }

  .pTitle {
    width: 210px;
    font-size: 26px;
    padding-bottom: 14px;
    line-height: 30px;
  }

  .pSectionTwo {
    width: 212.3px;
    font-size: 20px;
  }

  .copyright {
    width: 185px;
  }

  .love {
    width: 696px;
  }

  .buttonGo {
    width: 91px;
  }

  .moreReasonsButton {
    width: 210px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  .titulo {
    width: 690px;
    height: 212px;
    margin-bottom: 20px;
  }

  .subtitulo {
    width: 360px;
    height: 32px;
    font-size: 24px;
    margin-bottom: 30px;
  }

  h1 {
    line-height: 1.33;
    font-size: 80px;
  }

  h2 {
    font-size: 26px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }
}

@media all and (min-width: 768px) and (min-width: 1280px) {
  .subtitulo {
    width: 730px;
  }
}

@media all and (min-width: 1280px) {
  .sectionOne {
    padding-left: 275px;
    padding-bottom: 60px;
    width: 730px;
  }

  .rectangle {
    width: 360px;
  }

  .titleSectionOne {
    width: 730px;
    height: 45px;
    line-height: 1.41;
  }

  .pSectionOne {
    width: 730px;
  }

  .pTitle {
    width: 350px;
  }

  .pSectionTwo {
    width: 354px;
    font-size: 20px;
  }

  .buttonGo {
    width: 160px;
  }

  .titulo {
    width: 730px;
    height: 264px;
  }

  h1 {
    line-height: 1.32;
    font-size: 100px;
  }
}

@-webkit-keyframes intro {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes intro {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=main.css.map */
